.is-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    transition: all 0.25s linear;

    @media screen and (max-width: 720px){
        flex-direction: column;
        .left-filter {
            margin-bottom: 5px;
        }
    }
}

.left-filter {
    button {
        margin-right: 10px;
        color: #8e8e93;
        &:hover {
            background: #f1f2f5 !important;
        }
    }
    .rs-badge-content {
        top: 5px !important;
        right: 22px !important;
    }
}