.is-searc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .input-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        .rs-input-group {
            border-style: solid;
            border-width: 1px;
        }

        @media screen and (max-width: 720px){
            width: 90%;
            margin: 0 auto;
        }
    }

    .iss-search-input {
        width: 100%;
        color: #8E8E93;
        outline: none;
        padding: 7px 10px;
        border: none;
        border-radius: 4px 0 0 4px;
    }

    .iss-input-addon {
        padding: 5px;
        width: 40px;
        text-align: center;
        background: transparent;
    }

    .button-iss {
        width: 120px;
        margin-left: 10px;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }
}